



RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www.phrasos.com [NC]
RewriteRule ^ HTTPS://www.phrasos.com %{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP:X-Forwarded-Proto} !HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ HTTPS://phrasos.com %{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteEngine On
RewriteCond %{HTTP_HOST} ^phrasos\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.phrasos.com/$1 [R,L]